@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;800&display=swap');

* {
    font-family: 'Rethink Sans', sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
}

.container {
    margin: auto;
    padding: 25px;
    max-width: 1000px;
}

.main {
    display: flex;
    justify-content: flex-start;
    gap: 5em;
}

.score, .score__list {
    display: flex;
    align-items: center;
}

.score {
    height: 100px;
    justify-content: space-between;
}

.score svg {
    height: 30px;
    width: 30px;
}

.score__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.score__label {
    font-size: 1.25em;   
    font-weight: 800; 
}

.score__label--wht {
    color: #58D68D;
}

.score__label--blk {
    color: #556472;
}


.board {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
    border: 2px solid brown;   
}

.board__space--highlight {
    background-color: blue !important;
}

.board > div {    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 75px;
    width: 75px;
}


.board > div {
    background-color: whitesmoke;
    position: relative;
}

.board div:nth-child(16n + 1), .board div:nth-child(16n + 3), .board div:nth-child(16n + 5), .board div:nth-child(16n + 7), .board div:nth-child(16n + 10), .board div:nth-child(16n + 12), .board div:nth-child(16n + 14), .board div:nth-child(16n + 16) {
    background-color: #E9967A;
}

.board > div > svg {
    width: 90%;
    height: 90%;
}